// GENERAL
$border-color: #CDCDCD;
$border-height: 1px;

// BODY
$body-background: #EEEEEE;
$body-font-size: 16px;

// HEADER
$header-padding: 24px;
$header-font-size: 2rem;
$header-margin-bottom: 40px;
$logo-background: #FAD84A;
$logo-box: 48px;
$logo-padding-top: 24px;

// SIDEBAR FILTERS
$filters-width: 280px;
$filters-padding-horizontal: 0 32px;
$filter-margin-bottom: 24px;
$filter-padding-bottom: 24px;
$filter-title-wrapper-margin-bottom: 16px;
$filter-title-font-size: 1.7rem;
$filter-pages-width: 60px;
$filter-pages-border-radius: 5px;
$filter-padding: 8px;
$filter-clear-border-radius: 5px;
$filter-clear-background-color: #AAAAAA;
$filter-clear-padding: 12px 24px;
$filter-clear-margin: 0 auto;
$filter-clear-color: #FFFFFF;
$filters-width-tablet: 100%;
$filters-margin-bottom-table: 48px;

// LIGHTBOX
$lightbox-active-background-color: rgba(255, 255, 255, 0.9);
$lightbox-close-position: -50px;
$lightbox-close-border-radius: 50%;
$lightbox-close-side: 45px;
$lightbox-close-border-width: 5px;
$lightbox-close-border-background: #CCCBCB;
$lightbox-close-padding-left: 2px;
$lightbox-center-position-and-translate: 50%;
$lightbox-button-dimensions: 30px;
$lightbox-button-hover-background: #48A4A8;
$lightbox-button-before-height: 2px;
$lightbox-button-before-top: 50%;
$lightbox-button-before-background-color: #000;
$lightbox-button-before-after-transform-rotate: 45;
$lightbox-button-before-margin-top: -1px;
$lightbox-button-heavy-margin-top: -2px;
$lightbox-button-heavy-height: 8px;