@import "../utils/mixins";

.container {
    display: block;

    @include breakpoint(tablet) {
        display: flex;
    }

    .main {
        @include breakpoint(tablet) {
            flex: 1;
        }
    }
}