@import "../utils/variable";
@import "../utils/mixins";

.filters {
    width: $filters-width-tablet;
    box-sizing: border-box;
    margin-bottom: $filters-margin-bottom-table;
    padding: $filters-padding-horizontal;

    @include breakpoint(tablet) {
        width: $filters-width;
    }

    .filter {
        margin-bottom: $filter-margin-bottom;
        border-bottom: $border-height solid $border-color;
        padding-bottom: $filter-margin-bottom;

        &__title-wrapper {
            margin-bottom: $filter-title-wrapper-margin-bottom;
        }

        &__title {
            font-size: $filter-title-font-size;
            font-weight: bold;
        }

        &__pages {
            width: $filter-pages-width;
            border-radius: $filter-pages-border-radius;
            border: $border-height solid $border-color;
            padding: $filter-padding;
            box-sizing: border-box;
        }
    }

    &__clear {
        border-radius: $filter-clear-border-radius;
        background-color: $filter-clear-background-color;
        text-align: center;
        padding: $filter-clear-padding;
        margin: $filter-clear-margin;
        text-decoration: none;
        border: none;
        color: $filter-clear-color;
        display: block;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            background-color: #49A6A6;
        }
    }

    .filter__radio {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: inline-block;
        position: relative;
        background-color: #ffffff;
        color: #666;
        top: 3px;
        height: 15px;
        width: 15px;
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        margin-right: 7px;
        outline: none;
    }
    .filter__radio:hover {
        background-color: #70C0C0;
    }
    .filter__radio:checked {
        background-color: #49A6A6;
    }
}